<!DOCTYPE html>
<html>
<head>
  <title>Create Account</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="lj4oCenB9Q6D3BJCvDBkWhvQFjO5GlleAl+OAgzUUJaMPkF9gEF3a4qpPfqa4NCa7+msO5L+WI57d8oWQuYA+Q==" />


  <link rel="stylesheet" media="all" href="/assets/create_acc.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/homepage.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/login_page.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/welcome.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/application.self-f0d704deea029cf000697e2c0181ec173a1b474645466ed843eb5ee7bb215794.css?body=1" data-turbolinks-track="reload" />
  <script src="/packs/js/application-05bc83490fcade04d051.js" data-turbolinks-track="reload"></script>
</head>

<body>
  <div id="clearance" class="sign-up">
    <h2>Sign up</h2>

    <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="pfDcAuGxyz+7BCB9ScuvyHHiDzgXU3DcYY5JkMGFcSqG+1O4q31viUshzKHQbTMUbE3CZ6WpnPwtsFBYoslgjg==" />
      <div class="text-field">
        <label for="user_email">Email</label>
        <input type="email" name="user[email]" id="user_email" />
      </div>

      <div class="password-field">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password" />
      </div>


      <div class="submit-field">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" />
      </div>

      <div class="other-links">
        <a href="/sign_in">Sign in</a>
      </div>
    </form></div>

  </body>
  </html>
